/* COLOR PALETTE
   background-color: black;
   border: #1e1616 3px solid;
   background-color: #1e1616;
   --> brown/red
 */

/*** BODY CSS ****/
body {
    background-color: black;
    color: #e1d7d7;
    font-family: 'Open Sans', sans-serif;
}

/*** HEADER CSS ****/
header {
    display: flex;
    margin: 10px auto 0 auto;
    width: 85%;
    justify-content: space-between;
}

/*.Logo styling*/
.logo {
    width: 10%;
}

.logo img {
    height: 50px;
    width: 50px;
}

/* Styling for topNav - menubar */
.topNav {
    font-size: smaller;
    justify-content: end;
    display: flex;
}

.topNav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

.topNav ul a {
    color: white;
    text-decoration: none;
    padding-bottom: 0;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.topNav ul li {
    padding: 7px;
    display: flex;
    align-items: center;
}

.topNav ul li p {
    display: none;
}

.topNav img {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

/*dynamics for topnav*/
.topNav a {
    transition: background-gitgit

.topNav a:hover {
    transition: 1s ease-in-out;
    border-bottom: 1px solid #e1d7d7;
}

.topNav ul li:hover p {
    display: block;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Adjust the timing function for a smoother transition */
}

/* TODO : Deside if this is a good design choice */
/*.contact {*/
/*    border: #d69042 1px solid;*/
/*    border-radius: 20px;*/
/*    width: 10%;*/
/*}*/

/*.contact a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    padding-bottom: 0;*/
/*    margin: 0 20px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    font-size: 0.8rem;*/
/*}*/

/*.contact a img {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    padding: 0 10px 0 0;*/
/*}*/




/*** MAIN CSS ***/
.mainContent {
    width: 100%;
    height: auto;
    opacity: 1;
}

main section {
    height: auto;
}

#welcomePage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0;
}

/* Sections - Projects, About Me, Contact, Other */

#Projects, #AboutMe, #Contact, #Other {
    display: block;
    width: 80%;
    border-top : #191919 1px solid;
    margin: 0 auto 4rem auto;
}

#Projects > h1, #AboutMe > h1, #Contact > h1, #Other > h1 {
    text-align: center;
    margin: 4rem auto 2rem auto;
}



/* *** FOOTER CSS *** */
.mainFooter {
    color: white;
    width: 20%;
    margin: 0 auto;
}

.mainFooter ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
}

.mainFooter ul img {
    width: 2rem;
    height: 20px;
    padding-right: 20px;
    margin-right: 2rem;
}

.mainFooter a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}





